window#waybar {
    background-color: rgba(0, 0, 0, 0);
    font-family: "Intone Mono Nerd Font Propo";
    font-weight: bold;
}

#window {
    padding-left: 1.5em;
    color: #787c99;
}

#workspaces button {
    color: #787c99;
}

#workspaces button.focused {
    color: #000;
    background-color: #bb9af7;
    margin-top: .2em;
    margin-bottom: .2em;
}

#memory,
#cpu,
#battery,
#network,
#clock,
#pulseaudio,
#custom-gpuinfo,
#temperature {
    margin-top: .5em;
    margin-bottom: .5em;
    padding-left: 1em;
}

#network {
    border-left: 1px solid #787c99;
}

#network,
#custom-gpuinfo,
#temperature,
#battery {
    border-right: 1px solid #787c99;
    padding-right: 1em;
}

#battery {
    margin-right: 1em;
}

#cpu,
#memory,
#temperature {
    color: #e0af68;
}

#network,
#pulseaudio,
#battery {
    color: #bb9af7;
}

#clock,
#custom-gpuinfo {
    color: #9ece6a;
}